 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">fapers</a>
    </div>
    <ul class="nav navbar-nav">
      <li class=""><a href="/">Home</a></li>
      <li><a href="/find">Find</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if(!currentUser){ %>
            <li><%=message%></li>
            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
               
        <% } else { %>
            <li><a href="/user"><span class="glyphicon glyphicon-user"></span>Hello, <%= currentUser.username %> </a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            
        <% } %>
    </ul>
  </div>
</nav> 
</script>
  <script type="text/javascript" src="./js/active.js"></script>
