<% include ./partials/header %>

<div class="fluid">
  <% include ./partials/navbar %>
  
  <div class="center">
      <h2><span class="element"><strong>I Code.</strong></span></h2>
      <a href="#" class="btn btn-primary btn-lg active find-button" role="button" aria-pressed="true">Find fapers</a>
  </div>  

</div>

<script>
        document.addEventListener('DOMContentLoaded', function(){
          Typed.new('.element', {
            strings: ["<strong>Save paper!</strong>", "<strong>Find Notes.</strong>", "<strong>Find Text Books.</strong>","<strong>Save paper!</strong>","<strong>Save paper!</strong>", "<strong>Find Notes.</strong>", "<strong>Find Text Books.</strong>","<strong>Save paper!</strong>"],
            typeSpeed: 1
          });
      });
</script>

<% include ./partials/footer %>
