<!DOCTYPE html>
<html>
<head>
    <title>profile</title>
    

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!------ Include the above in your HEAD tag ---------->

    <style type="text/css">
        body{
            padding-top:30px;
            background: rgb(233, 235, 238);
        }
        .glyphicon {  
            margin-bottom: 10px;margin-right: 10px;
        }
        small{
                display: block;
                line-height: 1.428571429;
                color: #999;
        }
        .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}



button:hover, a:hover {
    opacity: 0.7;
}
    </style>

</head>

<body>
     <!-- Add icon library -->

<div class="card">
  <img src="https://www.incimages.com/uploaded_files/image/970x450/getty_598063032_349381.jpg" alt="John" style="width:100%">
  <h1><%=user.username %></h1>
  <p class="title"><%=user.college%></p>
  <p>My fapers</p>
    <div class="posts">
        <ul id="all-posts">
            <% for(var q=0;q<user.papers.length;q++){ %>
                <li><%= user.papers[q].subject%></li>
            <%}%>
        </ul>
    </div>
    <div class="btn-group">
        <a href="/postpaper" class="btn btn-primary">
            Post faper</a>
        <a class="btn btn-secondary" href="/logout">Logout</a> 
                          
    </div>

  
</div> 
    
</body>
</html>