<!DOCTYPE html>
<html>
<head>
  <title>SignUp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
  

</head>
  <style type="text/css">
    body{
       background: rgb(233, 235, 238)
    }
    .login-form{
      width: 35%;
      margin: 0 auto;
      margin-top: 5%;
      border: 1px solid rgb(211,211,211);
      padding: 5%;
      background: white;

    }
  </style>
<body>
   <div class="login-form">
    <form action="/register" method="POST" class="form">
        <h2 class="text-center">Register</h2>   
        
          <div class="form-group">
              
                <input id="username" class="form-control" name="username" placeholder="Username" required="required" type="text">       
            </div>
        
           <div class="form-group">
                <input id="password" class="form-control" name="password" placeholder="Password" required="required" type="password">       
            </div>

            <div class="form-group">
                <label for="college">College</label>
                <select id="college" class="form-control " name="college" >
                    <%colleges.forEach(function(college){ %>
                        <option value="<%=college.college%>"><%=college.college%></option>
                    <%})%>
                    <!-- <option value="Indian Institute of Technology Bombay">Indian Institute of Technology Bombay</option>
                    <option value="Indian Institute of Technology Delhi">Indian Institute of Technology Delhi</option> -->
                </select>
            </div>

            <div class="form-group">
               
                <input  id="number" class="form-control" name="phonenumber" placeholder="Number" required="required" type="text">
            </div>
            
            <div class="form-group">
              
                <input  class="form-control" name="email" placeholder="email" required="required" type="email">
            </div>
       
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
        
    </form>
</div>
</body>
</html>